<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">Aaryan </span> <span>Blog</span></h1>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-envelope"></i>
          
          <a style = "color: white;" href="mailto:support@aryanmehta376@gmail.com">
            aryanmehta376@gmail.com
          </a>
        </span>
        <span>
          <i class="fas fa-phone"></i>
          + 91 9545354000
        </span>
       

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://github.com/Aaryan-coder">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/aaryan_mehta_10/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/aaryanmehta123/">
          <i class="fab fa-linkedin"></i>
        </a>
       </div>
       <p style = "margin-bottom: 0%;">©️ 2023, Aaryan Mehta. All Right reserved</p>
  </footer>